body {
    background-color: #1766FF;  
    text-align: left;  
    margin: 0;
    color: #ffffff;
    font-weight:600;
  }

h1 {
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }

h2 {
    font-size: 27px;
    font-weight:800;
}

.major2 {
    background-color: #fff; 
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #363627;
}

a:link {
    color : #002B9E
}

a:visited {
    color : #002B9E
}
