<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>

    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap" rel="stylesheet">

    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="contents">
            <h1>🦁 Список дел 🦁</h1>
            <div>
                <ul>
                    {% for todo in todos %}
                    <li>
                        <a class="title" href="{% url 'detail' todo.pk %}">{{ todo.title }} </a>
                        <span>(D - {{todo.remain}})</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <a id="add" class="rus" href="{% url 'new' %}"> добавить новую задачу✍ </a>
        </div>
    </div>
</body>
</html>