<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap" rel="stylesheet">

    <link href="{% static 'new.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="contents">
            <h1>🦁 Список дел 🦁</h1>
            <br/>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="title" class="rus">📃заглавие</label> <br/>
                    <input type="text" name="title" id="title" placeholder="제목을 입력해주세요✍">
                </div>
                <br/>
                <div>
                    <label for="content" class="rus">📃подробности</label> <br/>
                    <textarea name="content" id="content" cols="60" rows="10" placeholder="내용을 입력해주세요✍"></textarea>
                </div>
                <br/>
                <div>
                    <label for="deadline" class="rus">📅срок погашения</label><br/>
                    <input type="date" name="deadline" id="deadline" placeholder="마감기한✍">
                </div>
                <br/>
                <button type="submit" class="rus"> добавить ✔</button>
            </form>
        </div>
    </div>
</body>
</html>