<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addSubject.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="banner">
        <h1>🐣 YONSEI UNIVERSITY 🐣</h1>
    </div>

    <div class="subject2">
        <h2>📖 정보 수정하기 📖</h2>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>수정</button>
            </form>
        </div>
    </div>
</body>
</html>