<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="entire">
    <h3 class="name">🦁윤정윤정윤과 함께하는 글자세기🦁</h3>
    <form action="{% url 'result' %}" method="post"> {% csrf_token %}
        <h4 class="explain">아래 상자에 글자를 입력해줘 !</h4>
        <textarea name="text" cols="30" rows="10"></textarea>
        <br />
        <input class="submit" type="submit" value="제출" />
    </form>
</div>
</body>
</html>