{% extends 'base.html' %} {% block content %}
<div>
  <div>
    <div class="post_title">{{ post.title }}</div>
    <div class="post_content">{{ post.content }}</div>
  </div>
  <a href="{% url 'home' %}">홈으로</a>

  {% if user.is_authenticated and post.author.pk == user.pk %}
  <a href="{% url 'edit' post.pk %}">수정하기</a>
  <a href="{% url 'delete' post.pk %}">삭제하기</a>
  {% endif %} {% for comment in post.comments.all %}
  <li>{{ comment.content }}</li>
  {% if user.is_authenticated and comment.author.pk == user.pk %}
  <a href="{% url 'delete_comment' post.pk comment.pk %}">댓글삭제</a>
  {% endif %} {% endfor %} {% if user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="댓글을 입력하세요" />
    <button type="submit">댓글 쓰기</button>
  </form>
  
  <div class="button-wrapper">
    <button id="like" onclick="like()">좋아요</button>
    <span id="like_count"> {{post.likes.count}} 개</span>

    <button id="scrap" onclick="scrap()">스크랩</button>
    {% if user.is_authenticated and user == post.author %}
    <span id="scrap_count"> {{post.scraps.count}} 개</span>
    {% endif %} {% endif %}
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // 변수 정의
  const likeBtn = document.getElementById("like");
  const scrapBtn = document.getElementById("scrap");

  const goToLogin = () => {   
        if (confirm('로그인 창으로 이동합니다')){          
            window.location = "/registration/login";     
        }    
    }

  // const like = () => {
  //   fetch('/like', {
  //     method: "POST",
  //     body: JSON.stringify({post_pk : "{{post.pk}}"})
  //   })
  //   .then(response => response.json())
  //   .then(res => document.getElementById("like-count").innerHTML = '좋아요' + res.like_count + '개')
  //   .catch(err => console.error(err))
  // }

  const like = async () => {
        let auth = "{{request.user.is_authenticated}}";
        if (auth === "True"){
            likeClick(); // likeClick 함수로 이동
        } else {
            goToLogin();
        }
    }

  const likeClick = async () => {
      try {
          const res = await axios.post('/like', {post_pk: "{{post.pk}}"});
          document.getElementById("like_count").innerHTML = res.data.like_count + '개';
          if (res.data.is_like) {
              likeBtn.style.color = 'red';
          } else {
              likeBtn.style.color = 'black';
          }
      }
      catch (e) {
          console.error(e)
      }
  }

  const likeColor = () => {
      if ("{{is_like}}" === "True"){
          likeBtn.style.color = 'red';
      } else {
          likeBtn.style.color = 'black';
      }
  }

  const scrap = async () => {
      let auth = "{{request.user.is_authenticated}}";
      if (auth === "True"){
          scrapClick();
      } else {
          goToLogin();
      }
  }

  const scrapClick = async () => {
      try {
          const res = await axios.post('/scrap', {post_pk: "{{post.pk}}"});
          document.getElementById("scrap_count").innerHTML = res.data.scrap_count + '개';
      }
      catch (e) {
          console.error(e)
      }
  }

  window.onload = likeColor;    
</script>

{% endblock content %}
